<h1>Este es el header cargado de @VirtualPath</h1>
<nav>
    <ul>
        <li><a title="Inicio" href=@Href("~")>Inicio</a></li>
        <li><a title="Equipos" href=@Href("~/Equipos")>Equipos</a></li>
        <li><a title="Jugadores" href=@Href("~/Jugadores")>Jugadores</a></li>
        <li><a title="Partidos" href=@Href("~/Partidos")>Partidos</a></li>
    </ul>
</nav>